<div class="vulgeSettings">
<nav class="panel-action vulgePagination">
    <ul class="pagination pagination-gap pagination-sm">
        <li class="page-item">
            <button (click)="previousPage()" class="page-link btn btn-link"  aria-label="Previous">
                <i class="icon fa-arrow-left" aria-hidden="true"></i>
            </button>
        </li>
        <li>
            <span>{{settingsModel.currentPage}}/{{settingsModel.numPages}}</span>
        </li>
        <li  class="page-item">
            <button (click)="nextPage()" class="page-link btn btn-link" aria-label="Next">
                <i class="icon fa-arrow-right" aria-hidden="true"></i>
            </button>
        </li>
    </ul>
</nav>
<div #vulgeSettingsElement ngbDropdown #dropDownObj="ngbDropdown" [autoClose]="false" [up]="true"  class="panel-action ">
    <span ngbDropdownToggle class="dropdown-toggle panel-action" aria-expanded="false"><i class="icon md-settings" aria-hidden="true"></i></span>

    <div class="dropdown-menu" aria-labelledby="exampleDefaultDropdownSubMenu" role="menu">
        <div role="menuitem" class="dropdown-item realTimeMenuItem">
            <span class="realTimeText">Enable Realtime</span>
            <ui-switch class="realTimeSwitch" [(ngModel)]="settingsModel.enableRealTime" size="small" (change)="toggleRealTime()"></ui-switch>
        </div>
        <div class="dropdown-divider"></div>
        <div #sortByDropDown="ngbDropdown" ngbDropdown ngbDropdownToggle [autoClose]="true" class="dropdown-submenu sortBySelect">
            <button role="menuitem" type="button" class="dropdown-item btn btn-link sortBySelectButton"><span>Sort By: </span><span>{{settingsModel.sortBy}}</span></button>
            
            <div class="dropdown-menu" role="menu">
                <div *ngFor="let option of settingsModel.sortByOption" (click)="setSortBy(option);" [ngClass]="{'active': settingsModel.sortBy === option}" class="dropdown-item" role="menuitem" tabindex="-1">{{option}}</div>            
            </div>
        </div>
</div>
</div>