@import "../../styles/vars";
.vulgePagination{
    margin-right:10em;
}
.vulgeSettings{
    .vulgePagination{
        .page-item{
           .page-link:active{
                color: #fff;
                background-color: $color-primary-500;
           } 
        }
        .pageNumbers{
            position: relative;
            top: 3px;
        }
    }
  
    .realTimeMenuItem{
        &:hover{
         background-color:white;
        }           
        .realTimeSwitch{
            margin-left: 1em;
            position: relative;
            top: 3px;
        } 
    }
    .sortBySelect{
        .sortBySelectButton{
            width:192px;
            &::after{
                position: absolute;
                right: 10px;
                display: inline-block;
                width: 0;
                height: 0;
                margin-top: 9px;
                vertical-align: middle;
                content: '';
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 4px dashed;
            }      
        }   
    }
}