<div [ngSwitch]="size">
    <div  *ngSwitchCase="'lg'" style="height: 100px;">
        <img src="/assets/images/spinner/spinner-lg.svg" />
    </div>
    <div *ngSwitchCase="'md'" style="height: 50px;">
        <img src="/assets/images/spinner/spinner-md.svg" />
    </div>
    <div *ngSwitchCase="'sm'" style="height: 25px;">
        <img src="/assets/images/spinner/spinner-sm.svg" />
    </div>
    <div *ngSwitchDefault style="height: 25px;">
        <img src="/assets/images/spinner/spinner-md.svg" />
    </div>
</div>