@import "../styles/vars";
html{
    overflow-y: scroll;
    font-size:16px;
}
body{
    font-size:1em;
    position: relative;
    margin: 0;
    padding-bottom: 3rem;
    min-height: 100%;
    font-weight:$font-weight-medium;
    .appContainer{
        min-height:100%;
    }
    &.modal-open{
        //need to prevent inline padding being added on modal open
        padding-right:0px !important;
    }
}
.appContainer{

    .navbar-container{
        max-width: 1400px;  
        .logoLink{
            color:white;        
            text-decoration: none;
        }  
    }
    .profilePhotoCircle{     
        padding-top: 1rem;
        padding-bottom: 1rem;
       img{ -webkit-border-radius: 50%;
        border-radius: 50%;
        height:pxToRem(40px);
        width: pxToRem(40px);
        background-color: #dfdfdf;
       // padding: 8px;
       }       
    }

    .notificationsMenu{
        width:700px;   
        .media-body{
            padding: 0px 10px;
        }     
    }
    .userVotesMenu{
        .media-body{
            padding: 0px 10px;
        }  
    }

    .dropdown-toggle::after{
        content: none;
    }

    .hamburger{
        font-size:20px;
    }

    .loginButton{
        color:white;
    }
    .navbar-btn{
        margin-right: 2.071rem;
    }
    
    // @include media-breakpoint-up(lg) {
    //         .notificationMenuItem{
    //             margin-right:2em;
    //         }       
    // }
   
    blockquote{
        p{
            font-size: 1.5rem;
        }
        
    }
    .btn .badge-pill{
        position: relative;
        top: -10px;
        margin: 0 -0.8em;
        border-radius: .93em;
    }

    .appFooter{       
        clear: both;
        position: relative;
        //z-index: 10;
        height: 37em;
        margin-top: -3em;
    }

    //mobile only breakpont
    @include media-breakpoint-down(xs){
        .navbar-brand-text{
            display: none !important;
        }
        .site-menubar{
            .site-menu{
                overflow-y: scroll;
                -webkit-overflow-scrolling:touch;
            }    
        }
    }
}
