@import "../styles/vars";
.page-login-main {
    height: auto;
    min-height: 100%;
    color: $text-color;
    background: $color-white;
    .spinnerActive{
        opacity: .3;
        spinner.loginSpinner{       
            position: absolute;
            top: 10em;
            right: 14em;
            opacity: 1;
        }
    }
    .btn-link{
        padding:0em;
        &.pull-right{
            float:right;
        }
    }
    .loginForm{
        padding: 3.75em 2.5em;
        h3{
            margin-top:0px;
        }
        form {
            //width: 350px;
            margin: 2.81em 0 1.25em;
            > button {
             background-color: $brand-primary;
            }
            a {
                margin-left: 1.25em;
            }
        }
        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 3.125em 3.75em;
            text-align: center;
        }
        .social {
            button{
                &.social-facebook{
                    float: right;
                }
                display: inline;
                margin: 0em .625em;
            }
            
            .icon {
            &,
            &:hover,
            &:active {
                color: $color-white;
            }
            }
        }

        .registerText{
            margin-top:1.56em;
        }

        .hr-text {
            line-height: 1em;
            position: relative;
            outline: 0;
            border: 0;
            color: black;
            text-align: center;
            height: 1.5em;
            opacity: 1.5;
            &:before {
                content: '';
                // use the linear-gradient for the fading effect
                // use a solid background color for a solid bar
                background: linear-gradient(to right, transparent, #818078, transparent);
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: .0625em;
            }
            &:after {
                content: attr(data-content);
                position: relative;
                display: inline-block;
                color: black;

                padding: 0 .5em;
                line-height: 1.5em;
                // this is really the only tricky part, you need to specify the background color of the container element...
                color: #818078;
                background-color: #fcfcfa;
            }
        }
    }
}

@include media-breakpoint-only(md) {
    .page-login-main {
        .loginForm{
            padding: .625em .3125em;
        }
        .social {
            button{
                display: inline;
                margin: 0em .1875em;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .page-login-main {
        .loginForm{
            padding: .3125em 0em;
        }
        .social {
            button{
                display: inline;
                margin: 0px 1875em;
            }
        }
    }
}
@include media-breakpoint-down(xs){
.page-login-main {
    .spinnerActive{
        opacity: .3;
        .loginSpinner{       
                position: absolute;
            top: 3em;
            right: 3em;
            opacity: 1;
        }
    }
    .loginForm{
        .social {
            button{
                &.social-facebook{
                    float: none;
                }
                display: block;
                margin: 5px 0px;
                width: 100%;
                
                span.btn-tag{
                    float: left;
                }
                span.btn-content{
                    position: relative;
                    top: 5px;
                }
            }
        }
    }
    }
}

