.homeComponent{
    .countdownTimer{
        text-align: center;
    } 
    .vulgeTable{
        color:black;
        td{
            text-align: left;
            vertical-align: middle;
        }
        .vulgePhoto{
            -webkit-border-radius: 50%;
            border-radius: 50%;
            height:40px;
            width: 40px;
            background-color: #dfdfdf;
        }
        .voteCell{
            min-width: 100px;
            text-align: center;
            .votesNum{
                padding-left: 15px;
            }           
        }
        .voteButtons{
                //float:right;
                .fa-arrow-circle-up{
                    cursor: pointer;
                    font-size:24px;
                }
                .fa-arrow-circle-down{
                    cursor: pointer;
                    font-size:24px;
                }
            }
    }
    .vulgeSpinner{
            position: absolute;
            top: -2em;
            right: 31em;
            opacity: 1;
    }

    .moreButton{
        margin:.3em .8em;
        float:right;
        font-size:20px;
        cursor:pointer;
    }
}