<!-- Page -->
<div class="page homeComponent">
  <div class="page-content container-fluid">
    <div class="row">
      <div class="offset-md-3 col-md-6 offset-md-3">
        <div class="card card-shadow">
          <div class="card-block">
            <div class="moreButton" (click)="showMore()">
              <i class="icon md-more"></i>
            </div>
            <blockquote class="blockquote">
              <p class="mb-0">{{(activeWinner | async)?.vulgeText}}</p>
              <footer class="blockquote-footer">
                {{(activeWinner | async)?.userName}}
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-2 col-md-8 countdownTimer">
        <span> Voting period ends in: <countdown ></countdown></span>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-md-1">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">{{dateHeader}}</h3>
            <div class="panel-actions">
              <vulge-collection-settings (changePage)="changePage($event)" [settingsModel]="settingsModel"></vulge-collection-settings>
            </div>
          </div>
          <div class="panel-body">
            <spinner *ngIf="showSpinner" class="vulgeSpinner"></spinner>
            <table  class="table table-hover">
              <thead>
                <tr>
                  <th>User</th>
                  <th></th>
                  <th>Vulge</th>
                  <th>Votes</th>
                </tr>
              </thead>
              <tbody class="vulgeTable">
                <tr *ngFor="let vulge of vulgeCollection">
                  <!--<td>{{vulge | json}}</td>-->
                  <td><img class="vulgePhoto" [src]="vulge.photoURL" /></td>
                  <td>{{vulge.userName}}</td>
                  <td>{{vulge.vulgeText}}</td>
                  <td class="voteCell">
                    {{(vulge.voteOrder * -1)}}
                  </td>
                  <td>
                    <div class="voteButtons">
                      <i (click)="vote(vulge.$key, true)" class="icon fa-arrow-circle-up" aria-hidden="true"></i>
                      <i (click)="vote(vulge.$key, false)" class="icon fa-arrow-circle-down" aria-hidden="true"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->